<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="/iconfont/iconfont.css">
    </head>
    <body>
    	<div id="body"></div>
    	<%if (htmlWebpackPlugin.options.production){ %>
    	<script src="https://cdn.bootcss.com/react/15.6.1/react.min.js"></script>
		<script src="https://cdn.bootcss.com/react/15.6.1/react-dom.min.js"></script>
        <script src="https://cdn.bootcss.com/react-router-dom/4.1.2/react-router-dom.min.js"></script>
        <script src="https://cdn.bootcss.com/redux/3.7.2/redux.min.js"></script>
        <script src="https://cdn.bootcss.com/react-redux/5.0.5/react-redux.min.js"></script>
        <script src="https://cdn.bootcss.com/redux-thunk/2.2.0/redux-thunk.min.js"></script>
        <script src="https://cdn.bootcss.com/ag-grid/12.0.0/ag-grid.min.js"></script>
        <!-- <script src="https://cdn.bootcss.com/ag-grid/12.0.0/ag-grid-enterprise.min.js"></script> -->
        <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>
    	<%}%>
    </body>
</html>